*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    body{
        color:black;
        background: rgb(254, 212, 157);
        header{
            position: relative;
            width:100%;
            nav{
                margin: auto;
                padding: 25px 100px 0 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo{
                    color: black;
                    font-size: 1.5em;
                    font-weight: 700;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    gap: 50px;
                    list-style: none;
                    float: right;
                    flex-wrap: wrap;
                    li{
                        display: inline;
                        a{
                            color: black;
                            font-size: 1em;
                            text-decoration: none;
                        }
                        a:hover{
                            color: #fff;
                        }
                    }
                }
            }
            .header-text-content{
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-top: 15vh;
                padding: 25px 100px 0 100px;
                align-items: center;
                span{
                    font-size: 2.5em;
                    font-weight: bold;
                    color: maroon;
                    text-align: left;
                    padding: 0 205px 0 0;
                }
                p{
                    color: black;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
    }
}